/*
font-family: 'Roboto', sans-serif;
400 700
font-family: 'Roboto Slab', serif;
700

*/

/* ..... RESET CSS ..... */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

}
li {
    list-style: none ;
}
a {
    text-decoration: none;
    color: inherit;
}


/* .....  ..... */

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: rgb(28, 24, 24);
}

a:hover {
    font-weight: 700;
}


/* ..... HEADER ..... */
header {
    padding: 35px 50px;
    text-align: center;
}

    header a {
        font-size: 1rem;
    }
    header img {
        height: 40px;
        margin-bottom: 25px;
    }
    
    header nav {
        position: relative;
    }

        header .navCenter {
            display: inline-flex;
            justify-content: center;
            column-gap: 30px;
            vertical-align: middle;
        }
        header .navCenter span {
            font-size: 3px;
            margin: auto 0;
        }


/* ..... FOOTER ..... */
footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    margin: 15px;
    background-color: #e5e5e5;
    vertical-align: middle;

}

    footer a {
        font-size: 0.8rem;
        line-height: 2em;
    }
    footer .footerMenuContainer {

    }
    footer .footerRedesContainer {
        display: flex;
        align-items: center;
        column-gap: 50px;
    }
        footer .footerRedesContainer a {
            font-size: 30px;
            transition: all 1s ease;
        }
    footer .footerContatoContainer i {
        text-align: center;
        width: 30px;
    }
    /* hovers */
    footer .footerRedesContainer a:hover {
        text-shadow: 0px 0px 15px rgba(28, 24, 24, 0.731);
    }


/*** MODAL ***/
#modal {
    position: absolute;
    display: none;
    border-radius: 5px;
    border: 1px solid black;
    background-color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: opacity 5s ease;
}
#modalBody {
    height: 100%;
    padding: 50px 25px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#modal .closeModalBtn {
    position: absolute;
    top: 0;
    left: 100%;
    text-shadow: 0px 0px 10px rgba(242,237,237,0.73);
    
    transform: translate(-50%, -50%);
}

    /*** toggle modal ***/
    #modal[data-show="true"] {
        display: block;
        z-index: 20;
    }
    #modal[data-show="false"] {
        display: none;
    }





/* .....  ..... */
/* .....  ..... */
/* .....  ..... */
/* .....  ..... */