/*
font-family: 'Roboto', sans-serif;
400 700
font-family: 'Roboto Slab', serif;
700

*/

/* ..... RESET CSS ..... */
html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;

}
li {
    list-style: none ;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    font-weight: 700;
}


/* .....   .....*/
.hide {
    display: none;
}

.showBlock {
    display: block;
}







/* ..... BODY ..... */

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: rgb(28, 24, 24);
}


/* ..... MAIN ..... */

main {
    margin: 45px 50px 175px  50px;
}


/* ..... HEADER ..... */
header {
    padding: 35px 50px;
    text-align: center;
}

    header a {
        font-size: 1rem;
    }
    header img {
        height: 40px;
        margin-bottom: 25px;
    }
    
    header nav {
        position: relative;
    }

        header .navCenter {
            display: inline-flex;
            justify-content: center;
            column-gap: 30px;
            vertical-align: middle;
        }
        header .navCenter span {
            font-size: 3px;
            margin: auto 0;
        }


/* ..... FOOTER ..... */
footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    margin: 15px;
    background-color: #e5e5e5;
    vertical-align: middle;

}

    footer a {
        font-size: 0.8rem;
        line-height: 2em;
    }
    footer .footerMenuContainer {

    }
    footer .footerRedesContainer {
        display: flex;
        align-items: center;
        column-gap: 50px;
    }
        footer .footerRedesContainer a {
            font-size: 30px;
            transition: all 1s ease;
        }
    footer .footerContatoContainer i {
        text-align: center;
        width: 30px;
    }
    /* hovers */
    footer .footerRedesContainer a:hover {
        text-shadow: 0px 0px 15px rgba(28, 24, 24, 0.731);
    }


/* ..... CONTENEDOR DATOS ..... */
    /* ..... Generales ..... */
.contenedorDetalles {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 6px rgba(0,0,0,0.1);
    background-color: rgba(245, 245, 245, 0.137);
    /* width: max-content; */
}

.contenedorDatos p {
    font-size: 0.9rem;
}
#contenedorDatosCliente>div,
#contenedorDatosPedido>div {
    display: flex;
    flex-flow: row nowrap;
}
#contenedorDatosCliente>div>div,
#contenedorDatosPedido>div>div,
#contenedorDatosMueble>div>div  {
    width: 50%;
} 
.contenedorDatos {
    margin-bottom: 40px;    
}
.contenedorDatos .datos-nombreDato {
    font-weight: 700;
    font-size: 1rem;
}
.contenedorDatos .datos-notas {
    width: 400px;
}


    /* ..... Detalle Cliente ..... */
    .detallePedido {
        margin: 10px 0;
    }

    



/* ..... TABLA ..... */
/* ..... TABLA ..... */
#containerTabla {
    margin: 50px;
}


table {
    border-collapse: collapse;
    /* width: max-content;
    max-width: 100%; */
    margin: 0 auto;

    border: 1px solid rgb(46, 42, 42);
    border-radius: 5px;
}
/* thead, tbody { display: block; }

tbody {
    max-height: 400px;       
    overflow-y: auto;    
    overflow-x: hidden;  
}  */

tr {
    max-height: 100px;

}
 tbody tr:nth-child(odd) {
    background-color: rgb(236, 234, 234);
    
}
th {
    padding: 10px;
    width: max-content;
    text-align: left;
}



td {
    padding: 10px;

} 



/* .....  ..... */
/* .....  ..... */
/* .....  ..... */